.headPage {
  font-size: 60px;
}

.container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.navbar {
display: flex;
flex-flow: column;
align-items: center;
}

.mainnav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot {
  display: flex;
  justify-content: flex-end;
  padding: 3% 3%;
  font-family: 'Montserrat', sans-serif;
}

.profile {
  border-radius: 50%;
  width: 50%;
  background-size: cover;
  padding: 5% 5%;
}
.link {
  padding-bottom: 10%;
  cursor: pointer;
}
.link:hover {
  color: coral;
}

/* ABOUT SECTION */

.about {
  display:flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap;
}
.head {
  padding: 0 30%;
}

.para1 {
  line-height: 250%;
}