
.navbar {
display: flex;
justify-content: flex-end;
justify-content: space-evenly;
padding: 0 0 0 70%;
}
.mainnav {
  display: flex;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: flex-end;
  padding: 100% 3%;
}
.logo {
  padding: 0 3%;
}