.bg {
  background-image: url(../public/bg.jpg);
  background-size: cover;
  width: 100%;
}
.into {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 15% 0%;
  padding: 5%;
}
.words {
  display: flex;
  flex-flow: column;
  margin: 5%;
}
.navbar {
display: flex;
justify-content: flex-end;
justify-content: space-evenly;
padding: 0 0 0 50%;
}

.mainnav {
  display: flex;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: flex-end;
  padding: 0% 3%;
}
.logo {
  padding: 3%;
}

.profile {
  border-radius: 150px;
  width: 25%;
}